[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
requests = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-mock = "*"
nest-asyncio = "*"
ipython = "*"
ipdb = "*"
jupyter = "*"
asynctest = "*"

[packages]
fastapi = "*"
uvicorn = "*"
stravalib = "*"
sqlalchemy = "*"
typesystem = "*"
orm = "~=0.1"
databases = {extras = ["sqlite"],version = "*"}
papermill = "*"
ipykernel = "*"
nbconvert = "*"
jinja2 = "*"
aiofiles = "*"
pyjwt = "*"
nteract-scrapbook = "*"
sweat = "*"
matplotlib = "*"
pandas = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
