[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
requests = "*"
pytest = "*"
pytest-asyncio = "*"
nest-asyncio = "*"

[packages]
fastapi = "*"
uvicorn = "*"
stravalib = "*"
pytest-mock = "*"
sqlalchemy = "*"
typesystem = "*"
orm = "~=0.1"
databases = {extras = ["sqlite"],version = "*"}

[requires]
python_version = "3.7"
